* {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

html, body, div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #f5f5f5 !important;
    text-align: right !important;
}

textarea, input {
    box-shadow: none !important;
}

.heading {
    padding: 10px 16px 10px 15px;
    height: 60px;
    width: 100%;
    background-color: #009688;
    color: #fff;
    z-index: 1000;
}

.sign-out {
    margin-top: 5px;
    cursor: pointer;
    float: left;
  }

.search {
    height: 60px;
    width: 100%;
}

.contact-list {
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.contact {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px !important;
    cursor: pointer;
}

.contact:hover {
    background: #f3f3f3
}

.contact img {
    float: right;
    width: 11%;
}

.contact .name {
    font-size: 14px;
    color: #464646;
    margin: 0 0 8px 0;
}

.contact p {
    font-size: 12px;
    color: #989898;
    margin: auto;
}

.contact .date{
    float: left;
    font-size: 12px;
    direction: ltr;
    color: #989898;
}

/*Conversation*/
.conversation {
    padding: 0 !important;
    height: 100%;
    width: 100%;
    border-right: 1px solid #e2e2e2;
    overflow-y: auto;
}

#message-list {
    overflow-y: auto;
    height: calc(100% - 120px);
}

.message {
    height: auto;
    margin-top: 10px !important; 
    font-size: 12px;
}

.message-text {
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    padding-bottom: 0 !important;
}

.message-time {
    color: #9a9a9a;
    direction: ltr;
    display: inline-block;
}

.receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 0 10px;
    background: #ffffff;
    word-wrap: break-word;
    display: inline-block;
    margin-right: 11px !important;
}

.sender {
    float: left;
    width: auto !important;
    background: #dcf8c6;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    word-wrap: break-word;
    margin-left: 11px !important;
}


/*Reply*/
.reply {
    height: 60px;
    width: auto;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply textarea {
    resize: none;
    overflow: hidden;
    height: 100%;
    font-size: 16px;
    border-radius: 0;
}
.reply .input-group-append{
    width: auto;
}
.reply button{
    border-radius: 0;
}

#typing{
    position: fixed;
    left: 32%;
    top: 70px;
}

/*
 * login
 */
 .card{
    height: auto;
    text-align: center;
 }

 .form-auth .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1rem;
}

#loader{
    position: absolute;
    top: 40%;
    left: 47%;
    width: 3rem;
    height: 3rem;
}

#page-404 {
    height: 100vh;
}

#page-404 div {
    height: auto;
    width: auto;
}